@import "tailwindcss";

body {
    background-color: #141414;
    color: #fff;
}
/* App.css */
.row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    scroll-behavior: smooth; 

}
.posters:hover .overlay {
    opacity: 1;
}